apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  namespace: titan-fintech
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
      - name: api
        # image: nginx:alpine # Placeholder until we build our Python app
        # image: titan-payment-service:v1
        image: muhammadtabish/titan-payment-service:latest
        imagePullPolicy: Always # <--- CRITICAL: Forces K8s to check for updates
        ports:
        - containerPort: 80
        # ENV goes HERE, inside the container block
        env:
        - name: APP_VERSION
          valueFrom:
            configMapKeyRef:
              name: payment-config
              key: APP_VERSION
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"