name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]
    paths:
      - 'app/**' # Only run when App code changes, ignore Terraform changes
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and Push
      uses: docker/build-push-action@v5
      with:
        context: ./app/payment-service
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/titan-payment-service:latest,${{ secrets.DOCKERHUB_USERNAME }}/titan-payment-service:v${{ github.run_number }}